db.user=username
db.password=password
db.name=mydatabase
db.host=localhost
db.port=5000
db.infoTable=db_info

migration.scripts=./dbMigrationScripts
migration.reverseScripts=./dbMigrationScripts
migration.milestones=./dbMigrationScripts
migration.client=mysql
